{%extends 'base.html'%}
{%block content%}
<h1>Список карт</h1>

<input name="operation_name" class="form-control" id="id_operation_name" oninput="getData()">
<button class="btn btn-primary" onclick="getData()"> поиск </button>
<div id="operation_list_div">
<script>
    function operatinRener(o){
        return` <li> ${o.id}  ${o.name} ${o.value}</li>`
    }

async function getData(){
    let operation_name= document.getElementById("id_operation_name").value
    let response =  await  fetch("/api/operation/?name="+operation_name)
    let r = await response.json()
    console.log(r)
    let el = document.getElementById('operation_list_div')
    let html = '<ul>'
    for (o  of r){
        html +=operatinRener(o)
    }
    html+='</ul>'
    el.innerHTML = html


}
getData()
</script>
{%endblock%}
